USE [master]
GO
/****** Object:  Database [WILSONSTORE_JL]    Script Date: 19/07/2016 08:39:14 p.m. ******/
CREATE DATABASE [WILSONSTORE_JL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WILSONSTORE', FILENAME = N'C:\sql\MSSQL12.MSSQLSERVER\MSSQL\DATA\WILSONSTORE_JL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WILSONSTORE_log', FILENAME = N'C:\sql\MSSQL12.MSSQLSERVER\MSSQL\DATA\WILSONSTORE_JL_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WILSONSTORE_JL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WILSONSTORE_JL]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CAT_ID] [bigint] NOT NULL,
	[CAT_DESCRIPCION] [nvarchar](50) NULL,
	[CAT_ESTADO] [char](1) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLI_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CLI_RUC] [varchar](11) NULL,
	[CLI_RAZONSOCIAL] [nvarchar](50) NULL,
	[CLI_DIRECCION] [nvarchar](100) NULL,
	[CLI_CORREO] [varchar](50) NULL,
	[CLI_TELEFONO] [varchar](15) NULL,
	[CLI_ESTADO] [char](1) NULL,
	[CLI_FECHAREGISTRO] [datetime] NULL,
	[CLI_PROMOCION] [char](1) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[IdEmpleado] [char](6) NOT NULL,
	[Clave] [varchar](15) NOT NULL,
	[ApeEmpleado] [varchar](30) NOT NULL,
	[NomEmpleado] [varchar](30) NOT NULL,
	[Cargo] [varchar](25) NOT NULL,
	[DirEmpleado] [varchar](50) NULL,
	[TelEmpleado] [varchar](20) NULL,
	[EmailEmpleado] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmailEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONEDA]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONEDA](
	[MON_ID] [char](3) NOT NULL,
	[MON_DESCRIPCION] [varchar](10) NULL,
	[MON_SIMBOLO] [varchar](5) NULL,
 CONSTRAINT [PK_MONEDA] PRIMARY KEY CLUSTERED 
(
	[MON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[PROD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PROD_DESCRIPCION] [nvarchar](100) NULL,
	[PROD_UNIDAD] [nvarchar](10) NULL,
	[CAT_ID] [bigint] NULL,
	[PROD_COSTO] [decimal](18, 3) NULL,
	[PROD_ESTADO] [char](1) NULL,
	[PROD_FECHAREGISTRO] [datetime] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUBCATEGORIA]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUBCATEGORIA](
	[SUB_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CAT_ID] [bigint] NULL,
	[SUB_DESCRIPCIÓN] [nvarchar](50) NULL,
	[SUB_ESTADO] [char](1) NULL,
 CONSTRAINT [PK_SUBCATEGORIA] PRIMARY KEY CLUSTERED 
(
	[SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[TDOC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TDOC_DESCRIPCION] [nvarchar](50) NULL,
	[TDOC_ESTADO] [char](1) NULL,
	[TDOC_FECHAREGISTRO] [datetime] NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[TDOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[VEN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VEN_NOMBRE] [nvarchar](50) NULL,
	[VEN_ESTADO] [char](1) NULL,
	[VEN_FECHAREGISTRO] [datetime] NULL,
 CONSTRAINT [PK_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[VEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTA](
	[VTA_ID] [bigint] NOT NULL,
	[VTA_NRODOCUMENTO] [varchar](20) NULL,
	[VTA_FECHAREGISTRO] [datetime] NULL,
	[MON_ID] [char](3) NULL,
	[CLI_ID] [bigint] NULL,
	[VEN_ID] [bigint] NULL,
	[TDOC_ID] [bigint] NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[VTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA_DETALLE]    Script Date: 19/07/2016 08:39:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA_DETALLE](
	[VTADET_ID] [bigint] NOT NULL,
	[VTA_ID] [bigint] NULL,
	[PROD_ID] [bigint] NULL,
	[VTADET_CANTIDAD] [int] NULL,
	[VTADET_PRECIO] [decimal](18, 3) NULL,
	[VTADET_SUBTOTAL] [decimal](18, 3) NULL,
 CONSTRAINT [PK_VENTA_SUBTOTAL] PRIMARY KEY CLUSTERED 
(
	[VTADET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([CAT_ID])
REFERENCES [dbo].[CATEGORIA] ([CAT_ID])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[SUBCATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_SUBCATEGORIA_CATEGORIA] FOREIGN KEY([CAT_ID])
REFERENCES [dbo].[CATEGORIA] ([CAT_ID])
GO
ALTER TABLE [dbo].[SUBCATEGORIA] CHECK CONSTRAINT [FK_SUBCATEGORIA_CATEGORIA]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([CLI_ID])
REFERENCES [dbo].[CLIENTE] ([CLI_ID])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_MONEDA] FOREIGN KEY([MON_ID])
REFERENCES [dbo].[MONEDA] ([MON_ID])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_MONEDA]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_TIPO_DOCUMENTO] FOREIGN KEY([TDOC_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TDOC_ID])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_VENDEDOR] FOREIGN KEY([VEN_ID])
REFERENCES [dbo].[VENDEDOR] ([VEN_ID])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_VENDEDOR]
GO
ALTER TABLE [dbo].[VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_DETALLE_PRODUCTO] FOREIGN KEY([PROD_ID])
REFERENCES [dbo].[PRODUCTO] ([PROD_ID])
GO
ALTER TABLE [dbo].[VENTA_DETALLE] CHECK CONSTRAINT [FK_VENTA_DETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_DETALLE_VENTA] FOREIGN KEY([VTA_ID])
REFERENCES [dbo].[VENTA] ([VTA_ID])
GO
ALTER TABLE [dbo].[VENTA_DETALLE] CHECK CONSTRAINT [FK_VENTA_DETALLE_VENTA]
GO
USE [master]
GO
