*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase03/EduTecApp/nbproject/private/
/Clase03/EduTecApp/build/
/Clase08/Demo001/nbproject/private/
/Clase08/Demo001/build/
/Clase08/Demo001 - copia/build/
/Clase08/Demo001 - copia/nbproject/private/
/Clase08/Demo002/build/
/Clase08/Demo002/nbproject/private/
/Clase08/Demo002/dist/
/Clase08/EduTecWeb/nbproject/private/
/Clase08/EduTecWeb/build/
/Clase09/Demo004/nbproject/private/
/Clase09/Demo004/build/
/Clase09/Demo004/dist/
/Clase09/EduTecWeb/build/
/Clase09/EduTecWeb/nbproject/private/
/Clase11/EurekaWeb/build/
/Clase11/EurekaWeb/nbproject/private/
/Clase11/EurekaWeb/dist/